<section class="text-white d-flex flex-column justify-content-center align-items-center py-5">
  <div class="title d-flex flex-column justify-content-center align-items-center">
    <h2 class="fs-1 fw-bolder m-0 text-uppercase ">contact component</h2>
    <div class="star my-3 d-flex gap-3 align-items-center">
      <div class="line"></div>
      <i class="fa-solid fa-star"></i>
      <div class="line"></div>
    </div>
  </div>
  <div class="container my-3">
    <form class="d-flex flex-column justify-content-center align-items-center">
      <div class="mb-3 w-50">
        <input type="text" class="form-control" placeholder="User Name">
      </div>
      <div class="mb-3 w-50">
        <input type="number" class="form-control" placeholder="User Age">
      </div>
      <div class="mb-3 w-50">
        <input type="email" class="form-control" placeholder="User Email">
      </div>
      <div class="mb-3 w-50">
        <input type="password" class="form-control" placeholder="User Password">
      </div>
      <button type="submit" class="btn text-white">Submit</button>
    </form>
  </div>
</section>