.portfolio {
  margin-top: 125px;
}

.portfolio .myImage {
  cursor: pointer;
  position: relative;
}

.portfolio .myModel {
  background-color: rgba(25, 177, 147, 0.2);
}

.portfolio .myImage .layer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(25, 177, 147, 0.9);
  font-size: 6rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.portfolio .myImage:hover .layer {
  opacity: 1;
}