<footer>
  <section class="info text-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 py-5 d-flex flex-column justify-content-center align-items-center">
          <h3 class="text-uppercase fs-3 mb-4">location</h3>
          <p class="mb-1">2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
        <div class="col-md-4 py-5 d-flex flex-column justify-content-center align-items-center">
          <h3 class="text-uppercase fs-3 mb-4">around the web</h3>
          <ul class="list-unstyled d-flex gap-3">
            <li>
              <i class="fa-brands fa-facebook-f"></i>
            </li>
            <li>
              <i class="fa-brands fa-twitter"></i>
            </li>
            <li>
              <i class="fa-brands fa-linkedin-in"></i>
            </li>
            <li>
              <i class="fa-solid fa-globe"></i>
            </li>
          </ul>
        </div>
        <div class="col-md-4 py-5 d-flex flex-column justify-content-center align-items-center">
          <h3 class="text-uppercase fs-3 mb-4">about freelance</h3>
          <p class="mb-1 text-center">Freelance is a free to use, licensed Bootstrap theme created by Kero</p>
        </div>
      </div>
    </div>
  </section>
  <section class="copyright text-capitalize text-white text-center py-4">
    copyright &copy; your website 2024
  </section>
</footer>