<section class="text-white d-flex flex-column justify-content-center align-items-center py-5">
  <img src="../../../assets/images/avatar.svg" alt="avatar image" loading="lazy" class="img-fluid mb-4" width="250"
    height="260">
  <h2 class="fs-1 fw-bolder m-0 text-uppercase">start framework</h2>
  <div class="star my-3 d-flex gap-3 align-items-center">
    <div class="line"></div>
    <i class="fa-solid fa-star"></i>
    <div class="line"></div>
  </div>
  <p class="text-capitalize">graphic artist - web designer - illustrator</p>
</section>